@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* body{
    width: 100vw;
    height: 100vh;
} */

header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    height: 70px;
    /* align-items: center; */
}

nav ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    align-items: center;
    text-decoration: none;
}

#home ul{
    width: 450px;
}

nav li{
    font-size: 20px;
}

nav li, h2{
    margin-top: 20px;
}

h2{
    text-align: end;
    width: 350px;
    font-size: 40px;
}

#bite{
    text-decoration: none;
    color: black;
}

#log {
    font-size: 20px;
    position: absolute;
    margin-top: 30px;
    top: 0;
    right: 0;
    color: black;
    text-decoration: none;
    text-align: right;
    align-self: center;
}

#log:hover {
    text-decoration: underline;
    text-shadow: 1;  
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover{
    text-decoration: underline;
    text-shadow: 1;
}

main{
    background-image: url('/assets/images/holiday.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-position: center;
    margin-bottom: 50px;
}

main p{
    padding-top: 80px;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    letter-spacing: -2px;
}

.container{
    margin-bottom: 50px;
}

.packages{
    margin-left: 50px;
    width: 650px;
}

#gift{
    margin-top: 40px;
    margin-left: 60px;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.5s;
}

#gift:hover{
    background-color: white;
    color: black;
}

.products{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.products img{
    width: 235px;
    height: 255px;
    border-radius: 20%;
}

.products h5{
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.products p{
    margin-top: 3px;
    text-align: left;
    font-size: 13px;
    font-weight: lighter;
    color: grey;
}

.shop{
    color: black;
    background-color: white;
    border: 1px solid rgb(181, 179, 179);
    font-weight: 500;
    margin-top: 20px;
    padding: 3px 30px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

.shop:hover{
    background-color: black;
    color: white;
}

/*slider*/
.slider{
    margin-top: 50px;
    margin-left: 100px;
    width: 32%;
    height: 500px;
    /* border-radius: 10px; */
    overflow: hidden;
}


#img6, #img7, #img8, #img9{
    border-radius: 10px;
    width: 100%;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 500px;
    height: 500px;
}

/*for manual slider*/

.nav-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    margin-left: -150px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 1px solid black;
    padding: 5px;
    margin: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    align-items: center;
}

.manual-btn:hover{
    background-color: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*for automatic slider*/

.nav-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    margin-left: -150px;
}

.nav-auto div{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    margin: 8px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: black;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: black;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: black;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background-color: black;
}

.second-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    gap: 220px;
}

.heart{
    margin-right: 80px;
    margin-top: 80px;
    text-align: left;
    margin-left: 0;
    align-content: left;
}

.heart h1{
    font-size: 50px;
    font-weight: 600;
}

.heart p{
    font-size: 23px;
    line-height: 1.7;
}

footer{
    background-color: rgb(225, 239, 253);
}

.shopf :first-child{
    font-weight: bold;
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 60px;
}

/*footer*/

footer{
    background-color: ghostwhite;
    padding: 70px 0;
}

.footer-container{
    width: 1100px;
    height: 350px;
    margin: auto;
}

.footer-col ul{
    list-style: none;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
} 

footer li a{
    text-decoration: none;
    color: black;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
}

footer h3{
    padding-bottom: 40px;
    font-size: 20px;
}

.footer-col .socials a{
    display: inline-block;
    height: 50px;
    width: 50px;
    color: black;
    padding: 0;
}

.footer-col ul li a{
    font-size: 18px;
    transition: 0.3s;
}

.footer-col ul li a:hover{
    padding-left: 10px;
}

hr{
    width: 80%;
    margin-left: 150px;
    color: rgb(239, 236, 236);
}

#hr1{
    margin-bottom: 25px;
}

.privacy{
    display: flex;
}

.rights{
    margin-left: 180px;
}

.email{
    margin-left: 750px;
}

.footer-col img{
    width: 60px;
    padding-right: 20px;
}

.fo-pic{
    width: 300px;
    margin-left: 350px;
}

.section{
    display: flex;
    margin: 0 200px;
    border: 1px solid whitesmoke;
    box-shadow: 10px 10px 30px rgb(223, 220, 220);
}

.whitening-pic{
    width: 50%;
    height: 400px;
}

.whitening-pic img{
    width: 558px;
    height: 100%;
}

.whitening-pic{
    height: 400px;
}

.whitening h4, .whitening p{
    text-align: center;
    margin: 80px 155px 50px;
}

.whitening h4{
    font-size: 35px;
    margin-bottom: 5px;
    font-weight:900;
}

.whitening p{
    margin-top: 0;
    font-size: 16px;
    color: gray;
}

.two{
    margin-top: 0;
}

.tablets{
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.menu {
    display: none;
}

.close {
    display: none;
}

@media only screen and (max-width: 500px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .menu {
    display: block;
    }
    
    nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
    }

    #home ul {
        width: auto;
    }

    header svg {
    width: 2.5em;
    cursor: pointer;
    }

    nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 999;
    transform: translateX(180%);
    }

    nav li, h2 {
        margin-top: 0px;
    }

    nav ul {
    text-align: center;
    color: black;
    padding: .75em 2em;
    display: block;
    }

    nav li {
        margin: 20px;
    }

    .close {
    margin: 0 auto;
    display: block;
    width: 2.5em;
    }

    h2 {
        text-align: center;
        width: auto;
    }

    .open-nav {
    background-color: white;
    transform: translateX(0);
    }

    #log {
        position: relative;
        margin: 0;
        padding: 0;
    }

    /* --------------------------------------------- */

    .packages{
        margin-left: 30px;
        width: 450px;
    }
    main p{
        font-size: 50px;
    }

    main{
        width: 100%;
        background-position: right;
    }

    .products{
        display: block;
    }

    .products img{
        width: 220px;
        height: 240px;
    }

    .products h5{
        text-align: left;
        font-size: 18px;
    }

    .shop{
        margin-bottom: 30px;
        margin-top: 8px;
    }

    .container{
        margin-left: 45px;
    }

    .tablets h1{
        font-size: 50px;
    }

    .section{
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
        align-content: center;
        margin-bottom: 20px;
        gap: 0;
    }

    .whitening-pic{
        margin-left: 50px;
        padding: 0;
    }

    .whitening-pic img{
        width: 400px;
        margin: 0;
        padding: 0;
    }

    /*------footer-------*/

    footer {
        margin: 0;
        padding: 0;
        display: block;
    }

    .footer-container{
        width: 100%;
        height: 250px;
    }

    .footer-col{
        font-size: 8px;
    }

    .footer-col ul li a{
        font-size: 13px;
    }

    .privacy{
        display: block;
    }

    .fo-pic img{
        width: 40px;
    }

    hr{
        margin-left: 40px;
        width: 80%;
    }

    footer h3{
        padding-bottom: 15px;
    }

    .row{
        margin-left: 10px;
    }

    .footer-col{
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 25px;
        height: 100px;
    }

    .fo-pic{
        margin: 0;
        padding: 0;
        margin-left: 0;
        /* width: 100px; */
        display: flex;
        justify-content: flex-start;
        margin-right: 100px;
    }

    .fo-pic img{
        display: none;
    }

    .email p{
        display: none;
    }

   /* ------------------------ */

    body{
        overflow-x: hidden;
    }

    .slider{
        display: none;
    }

    .heart h1{
        font-size: 30px;
    }

    .heart p{
        font-size: 13px;
    }

    .heart{
        text-align: center;
        margin-left: 70px;
    }
/* 

    .heart{
        margin-right: 80px;
        margin-top: 80px;
        text-align: left;
        margin-left: 0;
        align-content: left;
    }
    
    .heart h1{
        font-size: 50px;
        font-weight: 600;
    }
    
    .heart p{
        font-size: 23px;
        line-height: 1.7;
    } */

    
}

@media only screen and (max-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .menu {
    display: block;
    }
    
    nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
    }

    #home ul {
        width: auto;
    }

    header svg {
    width: 2.5em;
    cursor: pointer;
    }

    nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 999;
    transform: translateX(180%);
    }

    nav li, h2 {
        margin-top: 0px;
    }


    nav ul {
    text-align: center;
    color: black;
    padding: .75em 2em;
    display: block;
    }

    nav li {
        margin: 20px;
    }

    .close {
    margin: 0 auto;
    display: block;
    width: 2.5em;
    }

    h2 {
        text-align: center;
        width: auto;
    }

    .open-nav {
    background-color: white;
    transform: translateX(0);
    }

    #log {
        position: relative;
        margin: 0;
        padding: 0;
    }

    /* --------------------------------------------- */

    .packages{
        margin-left: 30px;
        width: 450px;
    }
    main p{
        font-size: 50px;
    }

    main{
        width: 100%;
        background-position: right;
    }

    .products{
        display: block;
    }

    .container {
        width: 80%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .gel p, .deodorant p, .bar p, .toothpaste p, .balm p{
        text-align: center;
    }

    .gel h5, .deodorant h5, .bar h5, .toothpaste h5, .balm h5 {
        margin: 0 auto;
        width: 100px;
        text-align: center;
    }

    .products img{
        width: 220px;
        height: 240px;
    }

    .products h5{
        text-align: left;
        font-size: 18px;
    }

    .shop{
        margin-bottom: 30px;
        margin-top: 8px;
    }

    .container{
        margin-left: 45px;
    }

    .tablets h1{
        font-size: 50px;
    }

    .section{
        width: 80%;
        margin-left: 75px;
        padding: 0;
        display: block;
        align-content: center;
        margin-bottom: 20px;
        gap: 0;
    }

    .whitening-pic{
        margin: 0 12;
        padding: 0;
    }

    .whitening-pic img{
        width: 600px;
        margin: 0;
        padding: 0;
    }

    /*------footer-------*/

    footer {
        margin: 0;
        padding: 0;
        display: block;
    }

    .footer-container{
        width: 100%;
        height: 250px;
    }

    .footer-col{
        font-size: 8px;
    }

    .footer-col ul li a{
        font-size: 13px;
    }

    .privacy{
        display: block;
    }

    .fo-pic img{
        width: 40px;
    }

    hr{
        margin-left: 40px;
        width: 80%;
    }

    footer h3{
        padding-bottom: 15px;
    }

    .row{
        margin-left: 10px;
    }

    .footer-col{
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 25px;
        height: 100px;
    }

    .fo-pic{
        margin: 0;
        padding: 0;
        margin-left: 0;
        /* width: 100px; */
        display: flex;
        justify-content: flex-start;
        margin-right: 100px;
    }

    .fo-pic img{
        display: none;
    }

    .email p{
        display: none;
    }

   /* ------------------------ */

    body{
        overflow-x: hidden;
    }

    .slider{
        display: none;
    }

    .heart h1{
        font-size: 42px;
    }

    .heart p{
        font-size: 18px;
    }

    .heart{
        text-align: center;
        margin-left: 70px;
    }
}