@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(173, 216, 230, 0.75), 42%, white);
    height: 100vh;
    background-repeat: no-repeat;
}

header{
    display: flex;
    position: sticky;
    top: 0;
    height: 70px;
    align-items: center;
}

#bite{
    text-decoration: none;
    color: black;
}

nav ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    align-items: center;
    text-decoration: none;
}

#home ul{
    width: 450px;
}

nav li{
    font-size: 20px;
}

nav li, h2{
    margin-top: 20px;
}

h2{
    text-align: end;
    width: 350px;
    font-size: 40px;
}

#log {
    font-size: 20px;
    position: absolute;
    margin-top: 30px;
    top: 0;
    right: 0;
    color: black;
    text-decoration: none;
    text-align: right;
    align-self: center;
}

#log:hover {
    text-decoration: underline;
    text-shadow: 1;  
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover{
    text-decoration: underline;
    text-shadow: 1;
}

.content-box {
    margin: 80px auto;
    width: 600px;
    height: 600px;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 40px;
}

.reg-txt {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cred-input {
    color: black;
    padding: 6px;
    font-size: 18px;
    font-weight: 500;
    border: 1.5px solid rgba(128, 128, 128, 0.33);
    width: 80%;
    height: 50px;
}

.cred-input:focus{
    outline-style: none;
    border: 1.5px solid rgba(128, 128, 128, 0.65);
}

#birth-date{
    text-align: center;
}

#submit {
    font-size: 18px;
    font-weight: 400;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

#submit:hover{
    background-color: rgba(0, 0, 0, 0.9);
}

#submit:active{
    background-color: black;
}

.return{
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
}

.return:hover{
    color: rgba(0, 0, 0, 0.8);
}

.return:active{
    color: black;
}

a{
    text-decoration: none;
    color: blue;
}

/*footer*/

footer{
    background-color: ghostwhite;
    padding: 70px 0;
}

.footer-container{
    width: 1100px;
    height: 350px;
    margin: auto;
}

.footer-col ul{
    list-style: none;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
} 

footer li a{
    text-decoration: none;
    color: black;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
}

footer h3{
    padding-bottom: 40px;
    font-size: 20px;
}

.footer-col .socials a{
    display: inline-block;
    height: 50px;
    width: 50px;
    color: black;
    padding: 0;
}

.footer-col ul li a{
    font-size: 18px;
    transition: 0.3s;
}

.footer-col ul li a:hover{
    padding-left: 10px;
}

hr{
    width: 80%;
    margin-left: 150px;
    color: rgb(239, 236, 236);
}

#hr1{
    margin-bottom: 25px;
}

.privacy{
    display: flex;
}

.rights{
    margin-left: 180px;
}

.email{
    margin-left: 750px;
}

.footer-col img{
    width: 60px;
    padding-right: 20px;
}

.fo-pic{
    width: 300px;
    margin-left: 350px;
}

.menu {
    display: none;
}

.close {
    display: none;
}

@media only screen and (max-width: 500px) {

    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .menu {
    display: block;
    }
    
    nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
    }

    #home ul {
        width: auto;
    }

    header svg {
    width: 2.5em;
    cursor: pointer;
    }

    nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 999;
    transform: translateX(180%);
    }

    nav li, h2 {
        margin-top: 0px;
    }


    nav ul {
    text-align: center;
    color: black;
    padding: .75em 2em;
    display: block;
    }

    nav li {
        margin: 20px;
    }

    .close {
    margin: 0 auto;
    display: block;
    width: 2.5em;
    }

    h2 {
        text-align: center;
        width: auto;
    }

    .open-nav {
    background-color: white;
    transform: translateX(0);
    }

    #log {
        position: relative;
        margin: 0;
        padding: 0;
    }
}